@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/Segoe_UI.eot');
    src: url('../fonts/Segoe_UI.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/Segoe_UI.ttf') format('truetype'),
         url('../fonts/Segoe_UI.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
  font-family:"SegoeUI", Arial, Helvetica;
  background:#fefefe;
  overflow:hidden;
  height:100%;
}

body{
  height:100%;
}


/* Settings */

.settingsWrapper{
  opacity:0;
  transform: perspective(300px) rotateY(-10deg);
  -webkit-transform: perspective(300px) rotateY(-10deg);
  -ms-transform: perspective(300px) rotateY(-10deg);  
  height:100%;
  width:100%;
}

.settingsWrapper h2{
  font-weight:normal;
  font-size:40px;
  margin:0 0 20px 0;
  color:#fe7d23;
}

.settingsWrapper.loaded{
  opacity:1;
  
  transition: transform 0.7s ease-in;
  -webkit-transition: -webkit-transform 700ms linear;
  -ms-transition: -ms-transform 0.7s ease-in;
  transform: rotateY(0deg) scale(1, 1);
  -webkit-transform: rotateY(0deg)  scale(1, 1);
  -ms-transform: rotateY(0deg)  scale(1, 1);
}

.settings{
  background:#f3f3f3;
  height:100%;
  position:absolute;
  width:30%;
  left:0;
  top:0;
}

.settings h2{
  padding:5% 0 0 15%;
}

/* Settings Menu */

.settingsMenu{ font-size:20px; list-style:none; margin:0 -30%; padding:0 30%;}
.settingsMenu a{text-decoration:none; color:#4c4c4c; padding:10px 15%; margin:0 0; display:block; transition: margin 0.1s ease-in; -webkit-transition: margin 0.1s ease-in; -ms-transition: margin 0.1s ease-in;}
.settingsMenu a:active{
  margin:0 5px;
}
.settingsMenu a:hover{
  background:#dedede;
}
.settingsMenu .active > a{
  background:#fe7d23;
  color:#fff;
}

/* Settings Content */

.settingsContent{
  margin-left:30%;
  padding:3%;
}
